{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals" : {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__DEBUG_NW__": false
  },
  "rules": {
    "comma-dangle": [1, "never"],
    "func-names": 0,
    "key-spacing": 0,
    "space-before-function-paren": [0, "never"],
    "no-else-return": 0,
    "no-multi-spaces": 0,
    "no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-single"],
    "one-var": 0
  }
}
